@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

.nav-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 0px 7px 10px 1px rgb(0, 10, 10, 0.3);
    padding: 1.2rem;
    background-color: #121010;
  }
  
  .nav-img-wrapper {
    display: flex;
    align-items: center;
    margin-right: auto;
  }
  
  .nav-img-wrapper > h2 {
    color: #FFD800;
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
  }
  
  .nav-logo {
    width: 15%;
    margin-right: 2rem;
  }
  
  .nav-ol {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: 2rem;
  }
  
  .nav-ol > li > button {
    margin-left: 1rem;
  }
  
  .vertical-rule {
    border-left:1px solid #FFD800; 
    height: 50px;
    margin-left: 6%;
  }
  
  